.daytime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    p {
        margin: 0;
        text-transform: uppercase;

        span {
            display: none;

            @media screen and (min-width: 577px) {
                display: inline-block;
            }
        }
    }
}