@import '../../theme/color.scss';

.btn-wrapper {

    cursor: pointer;
    display: inline-block;
    position: relative;

    .btn {
        align-items: center;
        background: $color-white; 
        border-radius: 28px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
        color: $color-black;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 28px;
        padding: 8px 63px 8px 21px;
        text-transform: uppercase;
        width: 146px;
    }

    span {
        // workaround icon is space on right side
        height: 40px; 
        width: 53px;

        &:before {
            color: $color-darkgray;
            //margin-left: 13px; // workaround icon is space on right side
            font-size: 35px;
    
            // workaround icon is space on right side
            position: absolute; 
            top: 50%;
            right: 9px;
            transform: translateY(-50%);
        }
    }

    &:hover,
    &:focus {
        span:before {
            color: $color-gray;
        }
    }

    &.active {
        span {
            &:before {
                right: 8px; // workaround icon is space on right side
                transform: translateY(-50%)rotate(180deg);
            }
        }
    }
}

