/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './icomoon.scss';

@import './color.scss';
@import './layout.scss';

@import './light.scss';
@import './dark.scss';

@import '~normalize.css/normalize.css';


/* font-styles */

h1, .h1 {
    font-size: 100px; 
    font-weight: bold;
    line-height: 1;
    letter-spacing: -5px;

    @media screen and (min-width: 577px) {
        font-size: 175px;
    }
    @media screen and (min-width: 769px) {
        font-size: 200px;
    }
    
}

h2, .h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 68px;;
}

h3, .h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -4,8px;
    text-transform: uppercase;
}

h4, .h4 {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;    
}

h5, .h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}

h6, .h6 {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 28px;
}